/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif;*/

/*custom editing*/

/*header*/
hr { width: 100px;
text-align: left;
display: inline-block;
margin: 10px 0 ;}

.flex {display: flex;
justify-content: space-between;
align-items: center;}

.container { max-width: 1200px;
padding: 20px 0;
margin: 0 auto;}

.flex h1{ font-family: 'DM Serif Display', serif;
font-size: 30px;}

.nav a { text-decoration: none;
color: black;
margin-left: 20px;
font-family: 'Karla', sans-serif;
font-weight: 600;}

.nav .plans{ 
   
    border: 1px solid black;
    padding: 10px 10px; }


/*section*/

.section {background-color: rgb(45,38,64);
height: 400px;}

.col {width: 40%;
     margin-top: 30px;}
  
    .col h2{ font-family: 'DM Serif Display', serif;
               font-size: 60px;
              padding-top: 20px ;
              padding-right: 50px;
              padding-bottom: 20px;
              color: white;}

    .col .para  {  font-size: 16px;
                  font-family:'Karla', sans-serif;
                  color: white;
                  margin-bottom: 40px;}

.col .plans{   
    border: 1px solid white;
    padding: 10px 10px; 
text-decoration: none;
color: white;
font-weight: 700;
font-family:'Karla', sans-serif;
border-radius: 5px;}


.col-image img { position: absolute;
   height: 500px;
    right: 280px;
    top: 100px}


/*section*/

.section-2 { margin-top: 150px;}

.col-2-image { width: 40%;}

img{ border-radius: 5px;
width: 500px;
height: 500px;}

.col-2 {width: 50%;}

.col-2 h2{ font-family: 'DM Serif Display', serif;
    font-size: 60px;
   color: rgb(45,38,64);
padding-bottom: 20px;}

.col-2 .para-2 {  font-size: 16px;
    font-family:'Karla', sans-serif;
    padding-right: 100px;
    margin-bottom: 40px;
word-spacing: 3px;}

.col-2 .know-more { border: 1px solid black;
padding: 10px 10px; 
text-decoration: none;
font-weight: 700;
font-family:'Karla', sans-serif;
border-radius: 5px;}

/*section-3*/
h3 { font-family: 'DM Serif Display', serif;
    font-size: 40px;
   color: rgb(45,38,64);
padding-bottom: 80px;

}

h4{ font-family: 'DM Serif Display', serif;
    font-size: 20px;
   color: rgb(45,38,64);
padding-bottom: 10px;
padding-top: 20px;}

.box-para {padding-right: 60px;
    font-family:'Karla', sans-serif;}


 .box i{ width: 20px;
    height: 20px;
border-radius: 50%;
background-color:rgb(186,210,246);
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
color: white;
}

/*bottom section*/
.bottom-section { background-color: rgb(45,38,64);
height: 200px;
margin-top: 50px;
margin-bottom: 60px;}

.bottom-box-1 {width: 50%;}

.bottom-box-1 h5{ font-family: 'DM Serif Display', serif;
    font-size: 50px;
   color: white;
   padding-left: 60px;
   padding-right: 100px;
   line-height: 1.5;}

.bottom-box-2 { padding-right: 60px;}

.how-we-work { border: 1px solid white;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 700;
    font-family:'Karla', sans-serif;
    border-radius: 5px;
color: white;
}

/*bottom-section*/

.flex h6 {font-family: 'DM Serif Display', serif;
    font-size: 25px;
   color: rgb(45,38,64);
 }
 .bottom-icon a{margin-right: 20px;
font-size: 25px;}

    

.bottom  { width: 100%;}

.bottom-link { text-align: center;}

.bottom-link a { text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
margin-right: 30px;}

/*footer*/

.footer { text-align: center;
background-color: rgb(45,38,64);
padding:20px 0;}

.footer small { font-size: 20px;
color: white;
font-family: 'Karla', sans-serif;}




